# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
.env
venv/
.venv/

# OS-specific
.DS_Store
portfolio.json
portfolio.json.lock
recent_stocks.json
investment_policy.json
investment_policy.json.lock
investment_policy.json.tmp
portfolio_history.db

notebooks/
portfolio_history.db.bak*

# Logs
*.log

*bak_*
debug*